*{
    font-family: 'Work Sans', sans-serif;
}



.header-logo span{
    font-size: 30px ;
    font-weight: 700;
    color: #30336b;
}
.header-section{
    background: #ffeaa7;
}
.forname{
 width: 48%;
}
.product-1 h2{
    border-bottom: 2px solid gray;
}
.custom-card-b{
    padding: 0!important;
}
.imag-section{
    padding: 50px 0;
}
.submit{
    background: orange;
}
.pagination-section{
  
}
.pagin-text {
    /* float: right; */
    float: right;
}
.fotter{
    background:#30336b;
    text-align: center;
    padding: 10px 0;
}
.fotter p{
    color: aliceblue;
}